[submodule "Tools/thePhotoAnonymizer"]
	path = Tools/thePhotoAnonymizer
	url = https://github.com/DanielKnourek/thePhotoAnonymizer
[submodule "Tools/customPolarstepsIntegrate"]
	path = Tools/customPolarstepsIntegrate
	url = https://github.com/DanielKnourek/customPolarstepsIntegrate
