[submodule "Tools/thePhotoAnonymizer"]
	path = Tools/thePhotoAnonymizer
	url = https://github.com/DanielKnourek/thePhotoAnonymizer
[submodule "Tools/customPolarstepsIntegrate"]
	path = Tools/customPolarstepsIntegrate
	url = https://github.com/DanielKnourek/customPolarstepsIntegrate
[submodule "Other/AIZA"]
	path = Other/AIZA
	url = https://github.com/davidvancl/AIZA_Hackathon2019
[submodule "dakara-SmartHome"]
	path = dakara-SmartHome
	url = https://github.com/DanielKnourek/dakara-SmartHome.git
